.bg{
    width: 100%;
    height: 64px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-menu{
    height: 64px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.left-menu{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-menu{
    height: 64px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo{
    height: 64px;
    width: auto;
    object-fit: contain;
    margin: 64px;
    transition: 0.5s;
    box-shadow: none;
}

.logo:hover{
    transition: 0.5s;
    transform: scaleX(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download{
    width: fit-content;
    height: 100%;
    padding: 16px 32px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: 0px;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 24px;
        height: 24px;
        margin: 4px;
        transition: 0.2s;
        background-color: rgb(255, 0, 0);
    }
}


.download:hover{
    transition: 0.5s;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    img{
        transition: 0.2s;
        background-color: rgb(0, 0, 0);
        border: rgb(255, 0, 0) solid 5px;
    }
}
.btn{
    width: fit-content;
    height: 100%;
    padding: 16px 32px;
    background-color: rgba(0, 0, 0, 0);;
    border: 0px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 24px;
        height: 24px;
        margin: 4px;
        transition: 0.5s;
        color: white;
    }
}

.btn:hover{
    transition: 0.5s;
    color: rgb(255, 0, 0);
    background-color: blanchedalmond;
    transform: scaleX(1.2);
    margin: 8px;

    img{
        transition: 0.5s;
        background-color: blanchedalmond;
        border: black solid 5px;
    }
}


.block-menu:hover :not(.btn:hover){
    opacity: 0.4;
}

